$_color-white: #f7f7f7;

$_color-dark: #090c08;
$_color-light: #faf9f6;

$_color-primary: #474056;
$_color-secondary: #757083;
$_color-tertiary: #8a95a5;

$_color-confirmed: #069c56;
$_color-unconfirmed: #d3212c;
