.add-to-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 1rem 3rem 4rem;
  margin: 0 auto;
  border: 1px solid $_color-primary;
  background-color: $_color-tertiary;

  & > svg {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(80%, -5%) rotate(180deg);
  }

  & > h2 {
    font-family: $_font-headings;
    font-size: 1.2rem;
  }

  & > .msg {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 2rem;
    border: 1px solid $_color-unconfirmed;
    border-radius: 5px;
    background-color: lighten($_color-unconfirmed, 30);
    font-size: 0.9rem;
    color: $_color-unconfirmed;
    text-align: left;
  }

  &__field {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 80%;
    margin: 0.3rem auto;
    font-size: 1rem;

    & label {
      font-size: 0.8em;
      line-height: 1;
      color: lighten($_color-dark, 10);
    }
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    font-size: inherit;

    &::placeholder {
      font-size: 0.8em;
      color: #999999;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 2rem;
    max-height: 10rem;
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
    resize: vertical;
    font-family: $_font-body;
    font-size: 1rem;

    &::placeholder {
      font-size: 0.8em;
      color: #999999;
    }
  }

  &__checkbox {
    display: inline-block;
  }

  &__btn {
    width: 50%;
    margin: 1rem auto 0;
    padding: 1rem 0.5rem;
    background-color: $_color-primary;
    border: none;
    box-shadow: 0px 3px 10px rgba($_color-dark, 0.1);
    font-weight: 700;
    color: $_color-light;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: $_color-dark;
      box-shadow: 0px 10px 10px rgba($_color-dark, 0.4);
    }
  }
}
