@import 'styles/_colors.scss';
@import 'styles/_fonts.scss';
@import 'styles/_base.scss';
@import 'styles/_list.scss';
@import 'styles/_form.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1380px) {
  .container {
    width: 1400px;
    margin: 0 auto;
    flex-direction: row;
    align-items: start;
    gap: 20px;
  }
}
